*{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 30px;
}

.form_section{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

label{
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
}
.radio{
    margin-bottom: 15px;
}

.al-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.al-alert{
    margin-top: 4px;
    font-size: 8pt;
    color: red;
    padding-left: 10px;
}

input {
    border-color: #B6FFFA;
    outline: none;
    padding: 10px;
    border-radius: 8px;
}

input:focus{
    border-color: #687EFF;
}

button{
    border: none;
    padding: 10px 10px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background-color: aquamarine;
}

button:active{
    background-color: #00C4FF;
}

.btn{
    background-color: #00C4FF;
    color: aliceblue;
}

.btn:hover{
    background-color: aqua;
}

.btn:active{
    background-color: #0791bb;
}

h2{
    text-align: center;
}

h3{
    font-weight: normal;
}

#keunggulan{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 8px;
    font-size: small;
    text-align: center;
    padding: 5px;
    font-style: italic;
}

#result_container{
    display: flex;
    flex-direction: column;
}

.al-center{
    text-align: center;
}

#label_result_number{
    padding: 20px;
    width: fit-content;
    align-self: center;
    font-size: 50px;
    color:black;
    border: 3px solid rgb(4, 95, 138);
    border-radius: 50%;
}